pip_system_certs                       # Not needed for this package but helpful for avoiding https errors in windows
certifi
urllib3
pyopenssl
python-dateutil
pyyaml
ujson
idna
keyring                                 # for storing passwords (or whatever!)

